@font-face {
  font-family: 'Baufra-Bold';
  src: url('fonts/Baufra-Bold.eot?#iefix') format('embedded-opentype'),  url('fonts/Baufra-Bold.otf')  format('opentype'),
	     url('fonts/Baufra-Bold.woff') format('woff'), url('fonts/Baufra-Bold.ttf')  format('truetype'), url('fonts/Baufra-Bold.svg#Baufra-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baufra-DemiBold';
  src: url('fonts/Baufra-DemiBold.eot?#iefix') format('embedded-opentype'),  url('fonts/Baufra-DemiBold.otf')  format('opentype'),
	     url('fonts/Baufra-DemiBold.woff') format('woff'), url('fonts/Baufra-DemiBold.ttf')  format('truetype'), url('fonts/Baufra-DemiBold.svg#Baufra-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('fonts/GothamBold.eot?#iefix') format('embedded-opentype'),  url('fonts/GothamBold.woff') format('woff'), url('fonts/GothamBold.ttf')  format('truetype'), url('fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: normal;
  font-style: normal;
}