.footer-menu {
	a {
		color: #525252;
		@extend .text-up;
		@extend .regular-bold;
		font-size: rem-calc(14);
		&:hover {
			color: $black;
		}
	}
}

#footer {
	background-color: $white;
	p {
		font-size: rem-calc(13);
		@extend .regular-bold;
		@extend .no-margin;
		color: #525252;
	}
}

.tels {
	span {
		@extend .d-iblock;
		&:not(:first-child) {
			&:before {
				content: "/";
				display: inline-block;
				margin: rem-calc(0 5);
			}
		}
	}
}

@media #{$small-only} {
	#footer ul {
		display: none;
	}
}