.fea-blog {
	//width: rem-calc(600);
	height: rem-calc(760);
	@include filter(grayscale(100%));
	z-index: 0;
}
.fea2-blog {
	//width: rem-calc(600);
	height: rem-calc(420);
	right: 0;
}
#post-header {
	.mask-header {
		z-index: 9;
	}
	&.contact {
		height: rem-calc(1024);
		background-image: url('images/bg-contact.png');
		background-repeat: no-repeat;
		background-position: top right;

		.mask-header {
			height: rem-calc(382);
		}

		p {
			color: #525252;
			font-weight: 700;
			@extend .text-up;
			margin-bottom: 0;
			font-family: 'Baufra-Bold';
			font-size: rem-calc(20);
			&.email {
				margin: rem-calc(30 0);

			}
		}
	}
}
.contact-info {
	h1 {
		font-family: 'GothamBlack';
		color: #fa384f;
	}
}
.post-blockquote {
	height: rem-calc(188);
	right: 0;
	top: rem-calc(-188);
	padding: rem-calc(0 40);
}
.thumb-captions {
	top: rem-calc(440);
	right: 0;
}
.post-excerpt {
	min-height: rem-calc(420);
}
.post-options {
	padding: rem-calc(20 0);
	.icon-right {
		margin-top: rem-calc(5);
	}
}

@media #{$large-up} {
	#post-header {
		.share-prod {
			@include translateY(rem-calc(10));
		}
	}
	.contact-info {
		margin-top: rem-calc(500);
		h1 {
			font-family: 'GothamBlack';
			color: #fa384f;
			font-size: rem-calc(72);
		}
	}
}

@media #{$small-only} {
	.fea-blog {
		height: rem-calc(300);
	}
	.post-blockquote {
		display: none;
	}
	#post-header {
		&.contact {
			.mask-header {
				height: rem-calc(300);
			}
			p {
				font-size: rem-calc(16);
			}
		}
	}
	.contact-info {
		margin-top: rem-calc(380);
	}
}

@media #{$medium-only} {
	.fea-blog {
		height: rem-calc(500);
	}
	.post-blockquote {
		display: none;
	}
	#post-header {
		&.contact {
			.mask-header {
				height: rem-calc(300);
			}
			p {
				font-size: rem-calc(18);
			}
		}
	}
	.contact-info {
		margin-top: rem-calc(380);
	}
}