.onload-show {
	opacity: 0;
	@extend %transition;

	&.show {
		opacity: 1;
	}
}

.mask-header {
	top: 0;
	left: 0;
	background-color: rgba(#c5af7c, .7);
	height: rem-calc(575);
	padding-top: rem-calc(86);

	&.single {
		background-color: rgba($ocean, .7);
	}
}
.balaio {
	right: 0;
	top: rem-calc(575);
	z-index: 9;
}
.corais {
	right: 0;
	top: 0;
	z-index: 0;
}
.sra {
	right: rem-calc(16);
	top: rem-calc(8);
	z-index: 0;
}
#estudio-content {
	.about-sergio {
		padding-top: rem-calc(30);
		header:first-child {
			top: rem-calc(-58);
			left: rem-calc(16);
		}
	}
}
#team {
	padding: rem-calc(40 0);
	background-color: rgba(#c5af7c, .7);
	@extend .rel;
	z-index: 99;

	li {
		@extend .text-center;
	}

	figure {
		width: rem-calc(170);
		height: rem-calc(170);
		border-radius: 100%;
		@include filter(grayscale(100%));
	}
}

@media #{$small-only} {
	.mask-header {
		height: rem-calc(300);
	}
}

@media #{$medium-only} {
	.mask-header {
		height: rem-calc(375);
	}
}

@media #{$large-up} {
	#estudio-content {
	    min-height: rem-calc(1000);
	}
	.mask-header {
		h1 {
			font-size: rem-calc(72);
		}
		h5 {
			clear: left;
		}
	}
}

